<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyArQb1vl-hJfc2PEsz0hBj3LOCKSomepn8</string>
	<key>GCM_SENDER_ID</key>
	<string>429563969534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.bbapp.yoshinobu</string>
	<key>PROJECT_ID</key>
	<string>bbapp-f3348</string>
	<key>STORAGE_BUCKET</key>
	<string>bbapp-f3348.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429563969534:ios:214248dbb9251536200aaf</string>
</dict>
</plist>